@import './colors.css';

:root {
  --bs-primary:           var(--blue-5);
  --bs-primary-rgb:       0, 108, 131;
  --bs-link-color:        var(--blue-4);
  --bs-link-hover-color:  var(--blue-5);
  --bs-border-color:      var(--grey-4);
  --bs-body-bg:           var(--grey-1);
}

.btn-primary {
  --bs-btn-bg:                 var(--blue-5);
  --bs-btn-border-color:       var(--blue-5);
  --bs-btn-hover-bg:           var(--blue-4);
  --bs-btn-hover-border-color: var(--blue-4);
  --bs-btn-color:              var(--grey-1);
}

.text-success { color: var(--color-gain)    !important; }
.text-danger  { color: var(--color-loss)    !important; }
.text-warning { color: var(--color-warning) !important; }
