{% extends "layout.html" %}

{% block title %}
    Price Quote
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="mb-3">Price Quote</h3>
            <hr>
            <div class="card p-4 text-bg-light">
                <form action="/quote" method="POST">
                    <div class="input-group">
                        <span class="input-group-text">Symbol</span>
                        <input name="symbol" type="text" class="form-control" placeholder="Search..." required>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                    <div class="form-text mb-3">Enter a stock symbol above to search.</div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
