{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-4 text-bg-light mb-3">
                <h3 class="fw-bold">Log in</h3>
                <hr>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <h6 class="fw-bold">Username</h6>
                        <input autocomplete="off" autofocus class="form-control" name="username" type="text">
                    </div>
                    <div class="mb-3">
                        <h6 class="fw-bold">Password</h6>
                        <input class="form-control" name="password" type="password">
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
