/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Search Bar */
.search-collapse {
    width: 0px;
    height: 32px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    overflow: hidden;
}

.search-collapse.expanded {
    width: 250px;
    height: 32px;
    opacity: 1;
    pointer-events: auto;
    overflow: visible;
}

.search-collapse.expanded:focus-within {
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
    border-radius: 10px;
}

#research-search {
    height: 32px;
    border-radius: 10px 0 0 10px;
    font-size: 0.9rem;
    border: none; /* Remove border and box shadow because builtin assumes 38px search bar component height */
    box-shadow: none;
}

#research-button {
    height: 32px;
    padding: 0 15px;
    border-radius: 0 10px 10px 0;
    border: none;
    box-shadow: none;
}
